$main-color: #eee;
$light-text: #fff;
$footer: #ddd;
$strong-dark: #1e1e1e;
$dark-text: #2e2e2e;
$logo: #3e3e3e;
$gray-text: #5e5e5e;
$green: rgb(40, 215, 95);
$black-shadow: linear-gradient( rgba(0,0,0,.6), rgba(0,0,0,.6));
$light-shadow: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5));
  

