@use "colors" as c;
@use "components";
@use "mixins";

.contact {
	margin-top: 1em;

		.map {
		
			&__container {
				position: relative;
				padding-bottom: 60%;
				width: 100%;
				height: 100%;
				margin: 2em 0;
				box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);

				iframe {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
				}
			}
		}

		.form {
			display: flex;
			flex-direction: column;
			align-items: center;

			h3 {
				margin-bottom: 1em;
			}

			.field {
				width: 100%;
				margin-top: 1em;
				max-width: 300px;

				p {
					font-size: 1.6rem;
					font-weight: 500;
				}

				.item {
					margin-top: 0.3em;
					padding: 0.7em;
					width: 100%;
					outline: none;
					border: 2px solid rgb(94, 94, 94);
					border-radius: 6px;
					font-size: 1.6rem;
					color: black !important;
				}
			}

			#message {
				font-family: "Raleway", sans-serif;
				min-height: 8em;
				resize: none;
			}

			&-btn {
				@include mixins.btnStyle;
				margin-top: 1em;
				align-self: center;
			}

			.error-msg {
				display: none;
				color: red;
				font-size: 1.4rem;
				margin: 0.3em 0 0;
			}

			.error {
				display: block;
			}

			.error-field {
				border: 2px solid rgb(255, 0, 0, 0.6);
			}
		}
}
